:root {
  --primary-color: #32a095;
  --secondary-color: #21484e;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Inter", sans-serif;
  --accent-font: "Julius Sans One", sans-serif;
}

h1,
h3 {
  font-family: var(--accent-font);
}
h3 {
  font-weight: 500;
}
h2 {
  text-decoration: underline;
}

li {
  list-style: none;
}
.my-photo {
  border: 4px solid var(--primary-color);
  margin: 20px 0;
  border-radius: 4px;
}
.navigation {
  background-color: black;
}
.navigation-link {
  padding: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navigation-link:hover,
.navigation a.active {
  color: var(--primary-color);
}

a:visited {
  color: white;
}
.list-type {
  padding: 0;
  font-size: 18px;
}
.hello {
  margin: 0 auto;
}
.dot {
  color: var(--secondary-color);
  font-weight: 500;
}

.top-header,
.bottom-header {
  font-weight: bold;
  font-family: var(--main-font);
  font-size: 128px;
}
.top-header {
  margin: 0;
}
.bottom-header {
  line-height: 1;
}
.iam-header {
  text-align: center;
  font-size: 48px;
  font-family: var(--accent-font);
  padding-top: 40px;
}
.name-header {
  text-align: center;
  font-size: 64px;
  line-height: 1;
  font-family: var(--accent-font);
}

.top-section {
  padding: 60px;
  background-image: url("pics/header-back.png");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 50%;
}

.center {
  background-color: #32a095;
  color: white;
  padding: 40px;
}
.center h1 {
  font-weight: 400;
  text-align: center;
}
.center p {
  font-size: 24px;
}
.myprojects-link {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  box-shadow: var(--box-shadow);
  transition: 200ms ease;
}
.myprojects-link:hover {
  background-color: white;
  color: #21484e;
  border: 2px solid #21484e;
}
.myworks-link {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  box-shadow: var(--box-shadow);
  transition: 200ms ease;
  margin: auto;
}
.myworks-link:hover {
  background-color: white;
  color: #21484e;
  border: 2px solid #21484e;
}
.center-text {
  text-align: center;
}

.projects-body {
  padding: 60px;
  background-image: url("pics/projects-back.png");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: fixed;
  height: 600px;
}
.projects-header {
  padding-top: 100px;
  padding-left: 800px;
}
.project {
  padding: 50px 30px;
}

.primary-link {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  transition: all 200ms ease;
}
.primary-link:hover {
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
}
.projects-header-small {
  padding: 30px;
}
.hero-header-small {
  padding: 0;
}
.top-header-small,
.bottom-header-small {
  font-size: 80px;
  font-weight: bold;
}
.contact-page {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}
.contact-page a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
}
footer i {
  font-size: 40px;
  padding: 6px;
  color: white;
}
footer i:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 1200px) {
  .iam-header,
  .name-header {
    font-size: 48px;
  }
  .top-header,
  .bottom-header {
    font-size: 96px;
  }
  .top-section {
    padding-top: 50px;
    background: none;
  }
}

@media only screen and (max-width: 800px) {
  h1,
  h3 {
    text-align: center;
  }
  .about-paragraphs {
    text-align: center;
  }
  .center p {
    font-size: 18px;
  }
  .top-section {
    padding: 20px;
  }
  .hero-body {
    padding: 20px;
  }
  .iam-header {
    font-size: 32px;
    padding-top: 0;
  }
  .name-header {
    font-size: 44px;
  }
  .education-section {
    font-size: 18px;
  }
  .top-header,
  .bottom-header {
    font-size: 70px;
    line-height: 1;
  }
  .projects-header {
    display: none;
  }
  .hero-header {
    display: none;
  }
  .project {
    padding: 10px;
    text-align: center;
  }
  .projects-body {
    padding: 20px;
    height: 330px;
  }
}
